aiofiles 
amqp
asgiref
astroid
beautifulsoup4
billiard
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
cors
dict-toolbox
dill
distlib
Django
django-bootstrap4
django-cors-headers
django-crispy-forms
django-embed-video
django-libs
django-rest-framework
django-social-media-links
djangorestframework
filelock
flake8
fonttools
future
gevent
greenlet
idna
isort
Jinja2
kiwisolver
kombu
lazy-object-proxy
MarkupSafe
matplotlib
mccabe
msgpack
nest-asyncio
networkx
numpy
packaging
Pillow
pipenv
platformdirs
pop
pop-config
pop-loop
prompt-toolkit
psycopg2-binary
pycodestyle
pycparser
pyflakes
pylint
pyparsing
PySocks
python-dateutil
python-dotenv
python-http-client
pytz
PyYAML
rend
requests
requests-file
six
sniffio
soupsieve
sqlparse
starkbank-ecdsa
tldextract
toml
tomli
tomlkit
typing_extensions
tzdata
urllib3
vine
virtualenv
virtualenv-clone
wcwidth
whitenoise
wrapt
zope.event
zope.interface
