header {
    background-color: #000212;
    color: #00FFF0;
    width: 100%;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

li {
    padding: 10px;
}

.portfolio-logo {
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 25px;
}