body,
html {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 12px;
    color:white;
    font-weight: normal; 
    font-family: 'Montserrat', sans-serif;
    background-color: #000212;
}

header {
    background-color: #000212;
    color: #00FFF0;
    width: 100%;
    height: 12%;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.navigation {
    display: inline-block;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-links {
    display: flex;
    font-size: 1.2rem;
    font-weight: 300;
    color: #FF4742;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links:hover {
  background-color: initial;
  background-position: 0 0;
  color: white
}

.nav-links:active {
  opacity: .5;
}

.nav-links.active {
  color: white;
}

img {
    margin: 20px;
    width: 50px;
    height: 50px;
}

.featured-img {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: -4px;
    width: 600px;
    height: 80%;
    border: 2px solid #FF4742;
    box-sizing: border-box;
    border-radius: 5px;
}

h1 {
    margin-top: 100px;
    font-size: 2rem;
    font-weight: 300;
    color: #00FFF0;
}

h2 {
    margin-top: 100px;
    font-size: 1.8rem;
    font-weight: 300;
    color: #FF4742;
}

p {
    margin-top: 0px;
    margin-left: 252px;
    margin-right: 252px;
    display: flex;   
    flex-direction: row;
    align-items: left;
    justify-self: left;
    font-size: 1.5rem;
    font-weight: 300;
    color: #FF4742;
}

a {
    color: #00FFF0;
    padding: 20px;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;

}

.welcome {
    
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-top: 180px;
    margin-left: 250px;
    
}

.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    margin-left: -833px;
    padding: 25px;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
}

.project-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    margin-left: -835px;
    color: #FF4742;
    font-size: 2rem;
    text-transform: uppercase;
}

.other-project-page {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: -60px;
    margin-bottom: 40px;
    margin-left: 185px;
    color: #FF4742;
    font-size: 2rem;
    text-transform: uppercase;
}

.proj-id {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 150px;
    margin-bottom: 75px;
    font-size: 1.5rem;
}

.other-proj-id {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 50px;
    margin-bottom: 50px;
    font-size: 1.5rem;
}

.proj-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -270px;
    margin-left: 495px;
    padding: 25px;
    width: 475px;
    height: 260px;
    line-height: 25px;
    font-size: 16px;
    color: #000212;
    background-color: #FF4742;
    border-radius: 5px;
    
}

.other-proj-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    margin-left: -8px;
    padding: 25px;
    width: 305px;
    height: 225px;
    line-height: 25px;
    font-size: 16px;
    color: #000212;
    background-color: #FF4742;
    
}

.proj-desc:hover
 {
   background-color: #000212;
   color: white;
   font-size: 16px;
   transform: scale(1.3);
   transition: all 0.5s ease-in-out ;
   border: 1px solid #FF4742;
   border-radius: 5px;
}

.other-proj-desc:hover
 {
   background-color: #000212;
   color: white;
   font-size: 16px;
   transform: scale(1.3);
   transition: all 0.5s ease-in-out ;
   border: 1px solid #FF4742;
}

.proj-title {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 1.8rem;
    margin-top: -5px;
    margin-left: -5px;
    text-decoration: uppercase;
    color: white;
}

.proj-title2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 1.3rem;
    margin-top: -100px;
    text-decoration: uppercase;
}

.proj-title3 {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 1.3rem;
    margin-top: -100px;
    text-decoration: uppercase;
}

.experience-id {
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-left: 150px;
    margin-bottom: 75px;
    font-size: 1.5rem;
    text-decoration: none;
}

.repo-link {
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
}

.repo-link:hover
 {
   color: #FF4742;
   transform: scale(1.3);
   transition: all 0.5s ease-in-out;
}

.git-link {
    margin-top: 5px;
}

.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.featured-projects {
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin-left: 60px;
    margin-right: 0px;
    margin-top: -40px;
    color: white;
    font-size: 4rem;
}

hr {
    border: 1px solid #ccc; 
    margin: 10px 0; 
    width: 100%;
  }

.horizontal-line {
    border: 1px solid #ccc; 
    margin-left: 252px; 
    width: 75%;
  }

.horizontal-line2 {
    border: 1px solid #ccc; 
    margin-left: 182px; 
    margin-top: -40px;
    margin-bottom: 40px;
    width: 75%;
  }

.horizontal-line3 {
    border: 1px solid #ccc; 
    margin-left: 182px; 
    margin-top: 0px;
    margin-bottom: 40px;
    width: 75%;
  }

.horizontal-line4 {
    border: 1px solid #ccc; 
    margin-left: -10px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 110%;
  }

.horizontal-line5 {
    border: 1px solid #ccc; 
    margin-left: 255px;
    margin-top: 26px;
    margin-bottom: 40px;
    width: 70%;
  }

.horizontal-line6 {
    border: 1px solid #ccc; 
    margin-left: 255px;
    margin-top: 55px;
    margin-bottom: 40px;
    width: 70%;
  }

.horizontal-line7 {
    border: 1px solid #ccc; 
    margin-left: 255px;
    margin-top: 120px;
    margin-bottom: 40px;
    width: 70%;
  }

.vertical-line {
    border-left: 1px solid white;
    align-items: baseline;
    height: 250px;
    margin-left: 350px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 20px;
  }

.vertical-line2 {
    border-left: 1px solid white;
    align-items: baseline;
    height: 250px;
    margin-top: 25px;
    margin-left: -965px;
    padding: 20px;
  }

.vertical-line3 {
    border-left: 1px solid white;
    align-items: baseline;
    height: 250px;
    margin-top: -10px;
    margin-left: -965px;
    padding: 20px;
  }

.vertical-line4 {
    border-left: 1px solid white;
    align-items: baseline;
    height: 250px;
    margin-left: 208px;
    padding: 20px;
  }

.experience {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 120px;
    margin-left: 182px;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
}

.experience-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
}
#work-exp {
    display: flex;  
    flex-direction: column;
    align-items: left;
    margin-left: 125px;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;     
    color: white;
    font-size: 1.3rem;
}

#work-exp2 {
    display: flex;  
    flex-direction: column;
    align-items: left;
    margin-left: 125px;
    text-decoration: none;
    text-transform: capitalize;   
    color: white;
    font-size: 1.5rem;
}

#work-exp3 {
    display: flex;  
    flex-direction: column;
    margin-right: -20px;
    align-items: left;
    margin-left: 125px;
    text-decoration: none;
    text-transform: none;    
    color: white;
    font-size: 1.5rem;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: left;
    color: white;
    font-size: 5rem;
    margin-left: 250px;
    margin-top: 0px;
}

.message {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    font-size: 2.5rem;
    margin-top: 0px;
    margin-left: 250px;
    margin-right: 250px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 250px;
    margin-left: 250px;
    margin-right: 250px;
}

.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
    color: white;
    font-size: 4rem;

}

.contact-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px;
    font-size: 1.5rem;
}

#contact-name {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 1.5rem;
    margin-top: 25px;
    margin-left: -350px;
}

#contact-message {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 1.5rem;
    margin-top: -150px;
    margin-left: 350px;

}

.name-box {
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 250px;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.email-box {
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 250px;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.message-box {
    display: flex;
    flex-direction: row;
    align-items: right;
    width: 250px;
    height: 110px;
    font-size: 1.5rem;
    margin-top: 10px;
    
}

.video-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3.5rem;
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 0px;
}

.video-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.video-container {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    align-items: center;
    margin-bottom: 100px;
}

/* Button CSS */
.button-24-contact {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-24-contact:hover,
.button-24-contact:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24-contact:active {
  opacity: .5;
}

.button-24-home {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: -25px;
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-24-home:hover,
.button-24-home:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24-home:active {
  opacity: .5;
}

.button-24-about {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: -25px;
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-24-about:hover,
.button-24-about:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24-about:active {
  opacity: .5;
}

footer {
    
    color: #00FFF0;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    position: fixed;
    bottom: 0;
    z-index: 1;
    writing-mode: vertical-rl; 
    transform: rotate(180deg); 
    white-space: nowrap; 
}

#footer-text {
    margin-left: 20px;
    color: #FF4742;
}

.footer-line {
    border-left: 1px solid #FF4742;
    height: 300px;
    margin-left: 7px;
}

.note-taking-app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    margin-top: 90px;
}

/* Slideshow */
.slideshow-container {
    display: flex;
    flex-direction: column;
    width: 100vw; 
    height: 100vh; 
  }
  
  .slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 290px;
    
  }
  
  .slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .fullscreen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    
  }
  
  .prev, .next, .fullscreen {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    z-index: 1;
  }
  
  .prev, .next {
    font-size: 20px;
  }
  
  .prev {
    margin-top: 285px;
    margin-left: -697px;
    background-color: #FF4742;
  }
  
  .next {
    margin-top: 285px;
    margin-left: 697px;
    background-color: #FF4742;
  }
  
  .fullscreen {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 5%;
    height: 5%;
    margin-top: 286px;
    background-color: #FF4742;
  }
  
  .fullscreen:hover {
    background-color: white;
    color: white;
  }
  .slideshow:-webkit-full-screen {
    width: 100vw;
    height: 100vh;
  }
  
  .slideshow:-moz-full-screen {
    width: 100vw;
    height: 100vh;
  }
  
  .slideshow:-ms-fullscreen {
    width: 100vw;
    height: 100vh;
  }
  
  .slideshow:fullscreen {
    width: 100vw;
    height: 100vh;
  }

#data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;    
    color: white;
  }

#data2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
    margin-left: 550px;
    margin-right: 250px;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;    
    color: white;
    font-size: 1.5rem;
  }

.job-title {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    margin-left: -100px;
    align-items: left; 
    font-size: 1.5rem;
    color: white;
}

.job-year {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    margin-top: -40px;
    margin-left: 125px;
    align-items: left; 
    color: white;
    font-size: 1.5rem;
}

.job-year2 {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    align-items: left; 
    margin-left: 125px;
    color: white;
    font-size: 1.5rem;
}

.prog-exp {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-left: -860px;
    margin-bottom: 50px;
    text-decoration: none;
    text-transform: uppercase;
}

.prog-lang {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
    font-size: 1.0rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
}

.prog-lang:hover {
   color: white;

}

.prog-lang2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    padding: 5px;
    margin-top: 10px;
    margin-left: -307px;
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    color: #000212;
    font-weight: 600;
    border-radius: 5px;
}

.prog-lang3 {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
    padding: 5px;
    margin-top: 5px;
    margin-left: -250px;
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    color: #000212;
    font-weight: 600;
    border-radius: 5px;
}

.cert-title {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 1.5rem;
    margin-top: -25px;
    margin-left: -982px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.cert {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 1.5rem;
    margin-top: 25px;
    margin-left: 352px;
    text-decoration: none;
    text-transform: capitalize;
    color:  #FFFFFF;
    font-weight: 600;
}

.cert2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 1.5rem;
    margin-top: 25px;
    margin-left: -180px;
    text-decoration: none;
    text-transform: capitalize;
    color:  #FFFFFF;
    font-weight: 600;
}

#cert-box {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin-left: -375px;
}

.achieve {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 1.5rem;
    margin-left: 143px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
}

#achievements {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    height: 100px;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 373px;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-weight: 600;
}

.achievements {
    
    font-size: 1.5rem;
    margin-left: 380px;
    width: 500px;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-weight: 600;
    
}

.edu {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    margin-top: 5px;
    margin-left: 373px;
    padding-top: 5px;
    text-decoration: none;
    text-transform: capitalize;
    color: #000212;
    font-weight: 600;
}

.edu2 {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-left: 373px;
    padding-top: 10px;
    width: 500px;
    text-decoration: none;
    text-transform: capitalize;
    color: #FFFFFF;
}

.edu3 {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-left: 373px;
    margin-bottom: 50px;
    padding-top: 10px;
    width: 500px;
    text-decoration: none;
    text-transform: capitalize;
    color: #FFFFFF;
}

#background-edu {
    color: white;
}

.education {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 1.5rem;
    margin-left: 143px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.success-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 250px;
    color: white;
}

.error-message {
    
    font-size: 1.0rem;  
    color: white;
    padding: 15px;
    margin-top: 20px;

}
/*  ANIMATIONS */

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }
  
.blue-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000212;
    z-index: 1;
  }
  
.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: logoAnimation 2s forwards;
  }
  
.logo {
    width: 100px; 
    height: auto;
  }
  
.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    text-align: left;
    opacity: 0;
    animation: revealContent 4s forwards;
  }
  
@keyframes logoAnimation {
    0% {
      transform: translate(-50%, -50%) scale(1);
      
    }
    100% {
      transform: translate(-50%, -50%) scale(0.5);
      opacity: 0;
    }
  }
  
@keyframes revealContent {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

@keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
#animated-text {
    animation: slideIn 2s ease forwards;
  }
